@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,400;1,900&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  min-width: 1500px;
  margin: 0 auto;
}
@media screen and (max-width: 1518px) {
  .container {
    min-width: 800px;
  }
}

@media screen and (min-width: 1700px) {
  .container {
    max-width: 1500px;
  }
}
@media screen and (min-width: 2000px) {
  .container {
    min-width: 1800px;
  }
}
@media screen and (min-width: 2400px) {
  .container {
    min-width: 2200px;
  }
}
/* css for header */
.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: 0.6s;
  font-weight: 400;
  letter-spacing: 1px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.6s;
}
.header__logo {
  flex: 0 0 60px;
  overflow: hidden;
  position: relative;
  transition: 0.6s;
  display: flex;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burger {
  display: none;
}
.line {
}
.header__menu {
}
.header__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
.header__ul li {
  position: relative;
  font-size: 20px;
  margin-left: 15px;
}

.header__ul li a {
  color: #707070;
  padding: 10px 19px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;

  transition: 0.6s;
  display: block;
}

.sticky {
  padding: 15px 10px;
  background-color: #000000;
}
.sticky .header__ul a {
  color: #a0a0a0;
  letter-spacing: 1px;
}
@media screen and (max-width: 1011px) {
  .header__ul a {
    font-size: 16px;
  }

  .header__logo img {
    padding: 1px;
  }
}
@media screen and (max-width: 1518px) {
  .header__logo {
    margin-left: 1%;
  }
}
@media screen and (min-width: 1918px) {
  .header__ul a {
    font-size: 27px;
  }
  .header__logo {
    flex: 0 0 80px;
  }
}
/* menu hover effect */

@media screen and (min-width: 801px) {
  .header__menu ul li a {
    position: relative;
    padding: 0 10px;
  }
  .header__menu ul li a:after {
    content: "";
    position: absolute;
    background-color: #000000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  .header__menu ul li a:hover:after {
    width: 100%;
  }
  .header__menu ul li a:hover {
    color: rgb(0, 0, 0);
  }
  .sticky .header__ul a:hover {
    color: white;
  }
  .sticky .header__ul a:after {
    background-color: #b9dfdf;
  }
}
/* /menu hover */
/*  burger */
@media screen and (max-width: 800px) {
  .header__ul {
    flex-direction: column;
    position: fixed;
    left: -100%;
    top: 0;
    transition: 0.5s;

    justify-content: center;

    padding: 0;
    height: 100%;

    background-color: rgb(255, 255, 255);
    z-index: 100;
    background-image: linear-gradient(
      135deg,
      #01ccbb 0%,
      #7addd5 20%,
      #a4d4d4 50%,
      rgb(218, 232, 233) 100%
    );

    background-size: 400%;

    animation: change 6s ease-in-out infinite;
  }
  .sticky {
    background-color: transparent;
    margin-top: 10px;
  }
  .sticky .header__ul a {
    color: rgb(0, 0, 0);
  }
  .header__ul.active {
    left: 0;
    width: 100%;
  }

  .header__ul > li {
    width: 100%;

    background-color: rgba(250, 246, 246, 0.459);
    padding: 18px;
    margin: 0;
  }

  .header__ul > li > a {
    font-size: 20px;
    color: rgb(0, 0, 0);
  }

  .header__burger {
    background-color: transparent;
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
    width: 3rem;
    height: 3rem;
    border: 0;

    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    border-radius: 5px;
  }

  .header__burger .line,
  .header__burger .line::after,
  .header__burger .line::before {
    background-color: rgb(0, 0, 0);
    height: 4px;
    transition: 0.3s;
    display: inline-block;
  }

  .header__burger .line::after,
  .header__burger .line::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
  }

  .header__burger .line::before {
    top: 0.75rem;
  }
  .header__burger .line::after {
    top: -0.75rem;
  }

  .header__burger .line {
    width: 90%;
    position: relative;
  }

  .header__burger.active .line {
    background-color: transparent;
  }

  .header__burger.active .line::after,
  .header__burger.active .line::before {
    top: 0;
  }

  .header__burger.active .line::after {
    transform: rotate(-45deg);
  }

  .header__burger.active .line::before {
    transform: rotate(45deg);
  }

  .header__ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__logo img {
    max-width: 50px;
  }
  .sticky {
    padding: 0;
  }
}

/* end of header css */

.main {
  flex: 1 1 auto;
}

/* main page! */
.main-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__blueBackground {
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
  left: 0;
  background-color: #b9dfdf;
}
.main__blackBlock {
  background-color: rgb(0, 0, 0);
  color: cornsilk;
  max-width: 80%;
  z-index: 10;
}
.main__blackRow {
  display: flex;
}
.main__robotImg {
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main__robotImg img {
  max-width: 80%;
}

.main__textRow {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  flex: 1 1 auto;
}
.main__blueLine {
  width: 15px;
  height: 130px;
  background-color: #b9dfdf;
  margin: 3% 0;
}
.main__title {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 1% 1% 2% 0;
  line-height: 120%;
}
.main__description {
  font-size: 29px;
  letter-spacing: 1px;
  margin: 2% 1% 3% 0;
  line-height: 140%;
  font-weight: 300;
}
.main__readMore {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 20px;
  padding: 1% 2%;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  border: 5px solid #b9dfdf;
  margin: 2% 0 5% 0;
  cursor: pointer;
}
.main__btn :hover {
  -webkit-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  -moz-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
}
.main__btn {
  cursor: pointer;
}
@media screen and (max-width: 1441px) {
  .main__title {
    font-size: 25px;
  }
  .main__description {
    font-size: 19px;
    margin: 5% 1% 5% 0;
  }
  .main__robotImg img {
    max-width: 80%;
  }
  .main__blueLine {
    width: 15px;
    height: 110px;
  }
  .main__readMore {
    font-size: 15px;
  }
}

@media screen and (max-width: 1025px) {
  .main__title {
    font-size: 20px;
  }
  .main__description {
    font-size: 15px;
  }
}

@media screen and (max-width: 846px) {
  .main__readMore {
    font-size: 12px;
    border: 3px solid #b9dfdf;
  }
  .main__blueLine {
    width: 10px;
    height: 90px;
  }
}
@media screen and (max-width: 808px) {
  .main__title {
    font-size: 17px;
  }
  .main__description {
    font-size: 13px;
  }
}

@media screen and (max-width: 625px) {
  .main__readMore {
    font-size: 10px;
    border: 3px solid #b9dfdf;
  }
  .main__blueLine {
    width: 10px;
    height: 70px;
  }
}
@media screen and (max-width: 563px) {
  .main__title {
    font-size: 13px;
  }
  .main__description {
    font-size: 10px;
  }
  .main__blueLine {
    width: 8px;
    height: 50px;
  }
}
@media screen and (max-width: 445px) {
  .main__blackRow {
    flex-direction: column;
  }
  .main__blueLine {
    width: 8px;
    height: 50px;
    transform: rotate(90deg);
  }

  .main__textRow {
    align-items: center;
    padding: 0% 3% 10% 3%;
  }
  .main__robotImg img {
    width: 40%;
  }
  .main__robotImg {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 5% 0 0 0;
  }
  .main__readMore {
    font-size: 9px;
    border: 3px solid #b9dfdf;
    line-height: 140%;
  }
  .main__btn {
    margin-top: 4%;
  }
  .main__description {
    font-size: 12px;
    text-align: center;
  }
  .main__title {
    text-align: center;
  }
}

/* end of main page! */

/* ABOUT BLOCK (mobile first way)*/

.main-about {
  background-color: #b9dfdf;
  overflow: hidden;
}
.about__title {
  font-weight: 600;
  font-size: 17px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 4% 3%;
  position: absolute;
  z-index: 5;
  top: 5%;
}
.about__twoBody {
  position: relative;
}
.about__twoRow {
  display: flex;
  height: 100vh;
}
.about__blackBl {
  background-color: rgb(0, 0, 0);
  width: 50vh;

  margin-left: 4%;
}
.about__mainTxtRow {
  align-self: flex-end;

  flex: 0 0 80%;
  display: flex;
  justify-content: center;
}
.about__mainTxt {
  font-size: 15px;
  font-weight: 500;
  padding: 3% 2%;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  max-width: 90%;
}
.about__hideForPhone {
  display: none;
}
.about__secondParagraph {
  margin-top: 6%;
}
.about__mainTxt p {
  line-height: 140%;
}
@media screen and (max-height: 600px) {
  .about__twoRow {
    height: 110vh;
  }
}

@media screen and (min-width: 345px) {
  .about__mainTxtRow {
    align-self: center;
    margin-top: 13%;
  }
}
@media screen and (min-width: 632px) {
  .about__mainTxtRow {
    align-self: center;
  }
  .about__mainTxt {
    font-size: 18px;
  }
  .about__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 794px) {
  .container {
    min-width: 0;
  }
}
@media screen and (min-width: 1023px) {
  .about__blackBl {
    width: 15vh;
  }
  .about__title {
    top: 8%;
    padding: 2% 3%;
    font-size: 26px;
  }
  .about__mainTxt {
    font-size: 20px;
  }
}
  
@media screen and (min-width: 1500px) {
  .about__title {
    font-size: 28px;
    top: 10%;
  }
  .about__mainTxt {
    font-size: 24px;
  }
  .about__blackBl {
    height: 100vh;
  }
}
@media screen and (min-width: 2000px) {
  .about__title {
    font-size: 33px;
  }
  .about__mainTxt {
    font-size: 29px;
    border: 9px solid rgb(0, 0, 0);
  }
}

@media screen and (min-width: 2500px) {
  .about__hideForPhone {
    display: block;
    font-size: 29px;
    margin-top: 6%;
  }
}
/* /about block */

/* PROGRAMS BLOCK (mobile first way*/
.main-programs {
  background-color: black;
  color: rgb(255, 255, 255);
}
.container {
}
.prog__body {
  display: flex;
  flex-direction: column;

  padding: 0 5%;
}
.prog_title {
  text-align: center;

  background-color: #b9dfdf;
  color: #000;
  font-weight: 700;
  padding: 2% 4%;
  margin-top: 20%;
  font-size: 20px;
}
.prog__row {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.prog__txtBl {
  display: flex;
  flex-direction: column;
}
.prog__txt1 {
  font-size: 17px;
  border: 3px solid #b9dfdf;
  text-align: center;
  padding: 2% 0;
  letter-spacing: 1px;
}
.prog__txt2 {
  font-size: 17px;
  border: 3px solid #b9dfdf;
  margin-top: 10%;
  text-align: center;
  padding: 2% 0;
  letter-spacing: 1px;
}
.prog__txt3 {
  font-size: 17px;
  border: 3px solid #b9dfdf;
  margin-top: 10%;
  text-align: center;
  padding: 2% 0;
  letter-spacing: 1px;
}
.prog__txt1:hover {
  -webkit-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  -moz-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
}
.prog__txt2:hover {
  -webkit-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  -moz-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
}
.prog__txt3:hover {
  -webkit-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  -moz-box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
  box-shadow: 12px 11px 92px -10px rgba(185, 223, 223, 0.71);
}
.prog__img {
  display: flex;
  justify-content: flex-end;
  padding: 15% 0 10% 0;
}
.prog__img img {
  max-width: 60%;
}
@media screen and (min-width: 760px) {
  .prog__row {
    flex-direction: row;
    margin-top: 15%;
  }
  .prog__img img {
    max-width: 80%;
  }
  .prog__txtBl {
    flex: 0 0 65%;
  }
  .prog__txt1 {
    align-self: flex-start;
    padding: 2% 4%;
    font-size: 20px;
  }

  .prog__txt2 {
    align-self: center;
    padding: 2% 4%;
    font-size: 20px;
  }

  .prog__txt3 {
    align-self: flex-end;
    padding: 2% 4%;
    font-size: 20px;
  }
  .prog_title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1400px) {
  .prog_title {
    font-size: 28px;
    margin-top: 10%;
  }
  .prog__txt1 {
    font-size: 25px;
    border: 6px solid #b9dfdf;
  }
  .prog__txt2 {
    font-size: 25px;
    border: 6px solid #b9dfdf;
  }
  .prog__txt3 {
    font-size: 25px;
    border: 6px solid #b9dfdf;
  }
  .prog__row {
    margin-top: 10%;
  }
}
@media screen and (min-width: 2300px) {
  .prog_title {
    font-size: 35px;
  }
  .prog__txt1 {
    font-size: 33px;
    border: 8px solid #b9dfdf;
  }
  .prog__txt2 {
    font-size: 33px;
    border: 8px solid #b9dfdf;
  }
  .prog__txt3 {
    font-size: 33px;
    border: 8px solid #b9dfdf;
  }
}

/* /programs block */

/* particles js */
.zno__particles-js {
  overflow: hidden;

  height: 100vh;
  width: 100%;
  background-color: #b9dfdf;

  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* end of particles js */
/* OUR STUDENTS CAN (mobile first) */
.main-powers {
  background-image: linear-gradient(
    135deg,
    #61f3e7 0%,
    #7addd5 20%,
    #a4d4d4 50%,
    rgb(255, 255, 255) 100%
  );

  background-size: 400%;

  position: relative;
  animation: change 6s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.powers__body {
  position: relative;
  padding: 5% 0 10% 0;
}
.powers__img {
  position: absolute;
  visibility: hidden;
}
.powers__img img {
  max-width: 100%;
}
.powers__coloredBl {
  position: absolute;
}
.powers__row {
  display: flex;
  flex-direction: column;
}
.powers__title {
  background-color: #000000;
  align-self: center;
  padding: 2% 4%;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.powers__txt {
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: center;
  position: relative;
}
.powers__ul {
  display: flex;
  flex-direction: column;
  padding: 0 0 5% 0;
  margin: 5% 2%;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(0, 0, 0);
  z-index: 10;
}
.powers__li {
  margin-top: 5%;
  margin-left: 3%;
  background: url(/img/bulb.png) left top no-repeat;
  background-size: 20px;
  padding: 0 0 0 10%;
  line-height: 120%;
  font-weight: 300;
  filter: invert(0);
}
.powers__li:nth-child(2) {
}
@media screen and (min-width: 500px) {
  .powers__li {
    padding: 0 0 0 6%;
  }
}

@media screen and (min-width: 1000px) {
  .powers__body {
    background-color: white;
  }
  .powers__img {
    visibility: visible;
  }
  .powers__txt {
    margin-top: 5%;
    justify-content: flex-start;
  }
  .powers__ul {
    flex: 0 0 63%;
  }
  .powers__coloredBl {
    width: 290px;
    height: 600px;
    background-color: #b9dfdf;
    left: 50%;
  }
  .powers__img {
    max-width: 30%;
    left: 60%;
    top: 63%;
    z-index: 9;
  }
}
@media screen and (min-width: 1300px) {
  .powers__li {
    font-size: 20px;
  }
  .powers__img {
    max-width: 30%;
    top: 60%;
    left: 58%;
  }
  .powers__coloredBl {
    height: 750px;
  }
  .powers__title {
    font-size: 23px;
  }
  .powers__body {
    padding: 5% 0 10% 0;
  }
}
@media screen and (min-width: 1800px) {
  .powers__li {
    font-size: 23px;
    background-size: 30px;
  }
  .powers__title {
    font-size: 25px;
  }
  .powers__coloredBl {
    height: 1000px;
  }
}
@media screen and (min-width: 2300px) {
  .powers__li {
    font-size: 25px;
    background-size: 30px;
  }
  .powers__title {
    font-size: 28px;
  }
  .powers__coloredBl {
    height: 1200px;
  }
}

/* /our students can */

/* zno block */
.zno__block {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 10%;

  border: 5px solid #000;

  background-color: rgb(255, 255, 255);
}
.zno__particles-js {
  position: relative;
}
.zno__titleblock {
  background-color: rgb(0, 0, 0);
  color: cornsilk;
  display: block;
  width: 60%;
  padding: 3%;
  text-align: center;
  position: absolute;
  font-size: 25px;
  left: 5%;
  top: 11%;
  z-index: 10;
  line-height: 120%;
}
.zno__subItem {
  z-index: 10;
  font-weight: 700;
}
.zno__subjects {
  display: flex;
  align-items: center;

  height: 100%;
}
.zno__subRow {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
  margin: 0 3%;
  margin-top: 5%;
}
.zno__subItem {
  font-size: 27px;

  line-height: 160%;
}
@media screen and (min-width: 2000px) {
  .zno__block {
    border: 9px solid #000;
  }
}
@media screen and (min-width: 2200px) {
  .zno__subItem {
    font-size: 32px;
  }
  .zno__titleblock {
    font-size: 33px;
    top: 15%;
  }
}

@media screen and (max-width: 1441px) {
  .zno__subItem {
    font-size: 20px;
  }
  .zno__titleblock {
    font-size: 20px;
    top: 15%;
  }
  .zno__subRow {
    height: 70%;
  }
}
@media screen and (max-width: 592px) {
  .zno__subItem {
    font-size: 20px;
  }
  .zno__titleblock {
    font-size: 15px;
    top: 15%;
    line-height: 150%;
  }
  .zno__subRow {
    height: 60%;
  }
}
@media screen and (max-width: 456px) {
  .zno__subItem {
    font-size: 17px;
  }
  .zno__titleblock {
    font-size: 15px;
    top: 15%;
    line-height: 150%;
  }
  .zno__block {
    border: 4px solid #000;
  }
}
@media screen and (max-width: 391px) {
  .zno__subItem {
    font-size: 13px;
  }
  .zno__titleblock {
    font-size: 12px;
    top: 20%;
    width: 70%;
    line-height: 160%;
  }
  .zno__subRow {
    height: 60%;
  }
  .zno__block {
    width: 80%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 10%;
    background-color: rgb(255, 255, 255);
  }
}

/* /zno block  */

/* Slider */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

.main-slider {
  background-color: #ffffff;
  padding: 5% 0 10% 0;
}
.slider__wrapper {
  height: 100%;
  padding: 0;
}
.slider__mainTitle {
  display: flex;
  justify-content: center;
}
.slider__mainTitleBody {
  font-size: 27px;
  background-color: #000;
  color: aliceblue;
  display: inline-block;
  padding: 1% 3%;
  margin-bottom: 4%;
  border-radius: 5px;
  letter-spacing: 2px;
}
.slider {
  position: relative;
  padding: 0 2%;
}
.slider .slick-arrow {
  position: absolute;
  top: 47%;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 0;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(img/left-arrow.png) 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(/img/next.png) 0 0/100% no-repeat;
}
.slider__item {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.slider__itemBody {
  flex: 0 0 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b9dfdf;
  border-radius: 20px;
  padding: 3% 10%;
  margin: 0 3%;
}
.slider__img {
  display: flex;
  justify-content: center;
}
.slider__img img {
  width: 30%;
  border-radius: 20px;
}
.slider__email {
  margin-top: 2%;
}
.email__link {
  text-decoration: none;
  color: #000;
}
.slider__initials {
  font-size: 25px;
  font-weight: 800;
  margin-top: 2%;
}
.slider__position {
  font-size: 16px;
  margin-top: 2%;
}
.slider__description {
  font-size: 20px;
  text-align: center;
  margin-top: 2%;
  flex: 0 0 30%;
  line-height: 140%;
}
.slider__readMore {
  align-self: flex-end;
  font-size: 16px;
}

/* Точки (булиты) */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: #b9dfdf;
  border: 2.5px solid rgb(10, 10, 10);
  width: 18px;
  height: 18px;
}
/* Элемент точки */
.slider .slick-dots li button {
  font-size: 0;
  width: 13px;
  height: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2.5px solid black;
}

/* Slider */

/* tabs */
.main-feedback {
  background-image: linear-gradient(
    135deg,
    #7addd5 0%,
    #b9dfdf 20%,
    #474747 58%,
    rgb(0, 0, 0) 100%
  );

  background-size: 400%;

  position: relative;
  animation: change 15s ease-in-out infinite;
  padding: 5% 0;
}
.container {
}
.tabs__body {
  width: 70%;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 3%;
  border: 7px solid black;
}
.tabs__trigger {
}
.tabs__triggerRow {
  display: flex;
  justify-content: space-between;
}
.tabs__triggerItem {
  flex: 0 0 20%;
 
  border: 5px solid black;
  overflow: hidden;
 
 
 
 
  
}
/** Tabs Trigger */
.tabs__triggerItem--active {
}

.tabs__triggerItem img {
  width: 100%; 
  
  
  
  
 
}
.tabs__trLink {
 
 
}
 
.tabs__content {
}
/** Tabs Content */
.tabs__contentItem {
  display: none;
  visibility: hidden;
}
.tabs__contentItem--active {
	display: block;
  visibility: visible;
}

.tabs__contentTxt {
  font-size: 20px;
  line-height: 120%;
}
.tabs__contentTxt h2 {
  font-size: 22px;
  font-weight: 900;
  padding: 1% 0 0.3% 0;
}

/* footer */
.footer {
  background-color: rgb(127, 104, 148);
  padding: 30px;
  text-align: center;
}
